<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Url Shortener</h2>
        <form action="/shortUrl " method="POST" class="form-inline my-4 ">
            <input type="text" name="fullUrl" id="fullUrl" class="form-control mr-2">
            <button class="btn btn-success" type="submit">Short</button>
        </form>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Full Url</th>
            <th scope="col">Short Url</th>
            <th scope="col">Click</th>
          </tr>
        </thead>
        <tbody>
            <% urls.forEach(url => {
                >%
                <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
                <%
            });  %> 
          
           
        </tbody>
      </table></div>
</body>
</html>